src/main/resources/liquibase.parser.core.xml/dbchangelog-ext.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.liquibase.org/xml/ns/dbchangelog-ext"
            xmlns="http://www.liquibase.org/xml/ns/dbchangelog-ext"
            elementFormDefault="qualified">

    <xsd:element name="createCollection">

        <xsd:complexType>

            <xsd:sequence>
                <xsd:element name="options" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            </xsd:sequence>

            <xsd:attribute name="collectionName" type="xsd:string" use="required"/>

        </xsd:complexType>

    </xsd:element>

    
</xsd:schema>